*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #fafafa;
	font-size: 16px;
	line-height: 24px;
	font-family: "Verdana"
}


.boxing {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* RESET */

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}


/* LAYOUT STYLES */

#top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 9999999999999;
	/*outline: 1px solid blue;*/
}

#display-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	/*outline: 2px solid black;*/
}

#left {
	position: relative;
	float: left;
	width: 380px;
	margin-left: 34px;
	/*height: 600px;
	outline: 1px solid red;*/
}

#center {
	position: relative;
	float: left;
	width: 650px;
	/*outline: 1px solid green;*/
}

#right {
	position: relative;
	margin-left: 165px;
	/*top: 0;
	right: 0;*/
	float: left;
	width: 72px;
	/*height: 400px;
	outline: 1px solid purple;*/
}

/* MAIN STYLES */
.top-bar {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #3B5998;
}

.top-bar .brand {
	cursor: pointer;
	width: 30px;
	height: 30px;
	bottom: 5px;
	left: 40px;
	position: absolute;
	background: url("../icons/facebook-logo.png") center no-repeat;
	background-size: cover;
	text-indent: -9999999999999999px;
}

.top-bar .nav-list {
	position: relative;
	float: right;
	height: 100%;
	color: white;
}

.nav-list .nav-listItem {
	float: left;
	position: relative;
	height: 100%;
}

.nav-listItem .item {
	float: left;
}

.top-bar .basic-links {
	padding: 12px;
	
}

.basic-links .item {
	font-size: 15px;
	font-weight: 400;
	margin-right: 24px;
}

.basic-links .item:first-of-type {
	margin-right: 24px;
}

.top-bar .quick-links {
	position: relative;
	padding: 6px 32px 0 32px;
	height: 60%;
	margin-top: 10px;
	border-right: 2px solid #506AA3;
	border-left: 2px solid #506AA3;
}

.top-bar .item:nth-of-type(2) {
	margin: 0 24px;
}

.users-icon {
	position: relative;
	cursor: pointer;
	width: 18px;
	height: 18px;
	background: url("../icons/users.png") center no-repeat;
	background-size: cover;
}

.chat-icon {
	position: relative;
	cursor: pointer;
	width: 22px;
	height: 18px;
	background: url("../icons/chats.png") center no-repeat;
	background-size: cover;
}

.notif-icon {
	position: relative;
	cursor: pointer;
	width: 18px;
	height: 18px;
	background: url("../icons/alarm.png") center no-repeat;
	background-size: cover;
}

.lock-icon {
	position: relative;
	cursor: pointer;
	width: 18px;
	height: 22px;
	background: url("../icons/locked.png") center no-repeat;
	background-size: cover;
}

.top-bar .lock {
	position: relative;
	padding: 14px 24px 0 24px;
}

.text-field {
	position: relative;
	border: none;
	outline: none;
	padding: 8px;
	resize: none;
	font-family: "Verdana";
}

.top-bar .search-field {
	background-color: transparent;
	color: #929FC1;
	border-bottom: 2px solid #929FC1;
}

.top-bar .search {
	padding: 4px 24px 0 24px;
	margin-left: 400px;
}

.top-bar .search .search-icon {
	margin-top: 8px;
	margin-right: 8px;
}

.top-bar .search .cancel-icon {
	margin-top: 9px;
	margin-left: 8px;
}

.search-field::-webkit-input-placeholder{
	color: #929FC1;
}

.search-icon {
	position: relative;
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url("../icons/search-icon.png") center no-repeat;
	background-size: cover;
}

.cancel-icon {
	position: relative;
	cursor: pointer;
	width: 14px;
	height: 14px;
	background: url("../icons/cancel-icon.png") center no-repeat;
	background-size: cover;
}



.masthead {
	position: relative;
	width: 100%;
	height: 436px;
	background: url("../img/display-bg.jpg") center no-repeat;
	background-size: cover;
	padding-top: 154px;
	padding-left: 54px;
}

.masthead:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(59, 89, 152, .4);
}

.masthead .brief-user-prof {
	position: relative;
	width: 50%;
	padding: 24px 12px; 
}

.avatar-display {
	position: relative;
	width: 134px;
	height: 134px;
	border-radius: 100%;
}

.brief-user-prof .user-image {
	position: relative;
	float: left;
	background: url("../img/dp1.jpg") center no-repeat;
	background-size: cover;
}

.brief-user-prof .info {
	position: relative;
	margin-left: 24px;
	padding-top: 36px;
	float: left;

}

.brief-user-prof .info .username {
	position: relative;
	color: white;
	font-weight: 400;
	font-size: 26px;
	margin-bottom: 12px;
}

.trans-btn {
	cursor: pointer;
	position: relative;
	display: block;
	padding: 12px;
	font-size: 15px;
	border: transparent;
	outline: none;
	color: white;
	background-color: rgba(240, 240, 240, .3);
	font-variant: small-caps;
}

.brief-user-prof .info button {
	display: inline;
}

.left-panel {
	position: relative;
	padding: 490px 12px 100px 12px;
}

.card {
	position: relative;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0,0,0,.2);
	padding: 68px 16px 24px 16px;
	margin-bottom: 20px;
}

.card .header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 12px 0 12px 16px;
	background-color: white;
	z-index: 10
}

.card .header .hd-icon {
	position: relative;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	/*background-color: #c2c2c2;*/
	float: left;
}

.card .header .hd-icon.globe-icon {
	background: #c2c2c2 url("../icons/globe.png") center no-repeat;
	background-size: 50%;
}

.card .header .hd-content {
	position: relative;
	color: #585858;
	font-weight: 600;
	float: left;
	margin: 10px 0 0 12px;
}

.card .content {
	position: relative;
	width: 100%;
}

.card .content .cont-header {
	position: relative;
	color: #585858;
	font-weight: 400;
	margin-bottom: 8px;
}

.card .content .cont {
	position: relative;
	color: #c2c2c2;
	font-size: 15px;
}

.card .content .cont-base {
	position: relative;
	color: #c2c2c2;
	font-weight: 400;
	font-size: 15px;
	margin-top: 8px;
}

.card .actions {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.card .actions .link {
	position: relative;
	font-weight: 400;
	font-size: 18px;
	font-variant: small-caps;
	color: #2F9BF3;
}

.card .intro {
	margin-bottom: 36px;
}

.card .photos {
	margin-bottom: 36px;
}

.card .photo-grid {
	position: relative;
	width: 100%;
	padding: 4px;
}

.card .photo-grid .photo {
	position: relative;
	float: left;
	width: 93px;
	height: 93px;
	margin: 4px 6px;
}

.card .photo-grid .photo:first-of-type {
	background: url("../img/dp2.jpg") center no-repeat;
	background-size: cover;
}

.card .photo-grid .photo:nth-of-type(2) {
	background: url("../img/dp3.jpg") center no-repeat;
	background-size: cover;
}

.card .photo-grid .photo:nth-of-type(3) {
	background: url("../img/dp4.jpg") center no-repeat;
	background-size: cover;
}

.card .photo-grid .photo:nth-of-type(4) {
	background: url("../img/dp4.jpg") center no-repeat;
	background-size: cover;
}

.card .photo-grid .photo:nth-of-type(5) {
	background: url("../img/dp5.jpg") center no-repeat;
	background-size: cover;
}

.card .photo-grid .photo:nth-of-type(6) {
	background: url("../img/dp6.jpg") center no-repeat;
	background-size: cover;
}

.card .photo-grid .photo:nth-of-type(7) {
	background: url("../img/dp11.jpg") center no-repeat;
	background-size: cover;
}

.card .photo-grid .photo:nth-of-type(8) {
	background: url("../img/dp8.jpg") center no-repeat;
	background-size: cover;
}

.card .photo-grid .photo:nth-of-type(9) {
	background: url("../img/dp9.jpg") center no-repeat;
	background-size: cover;
}

.center-panel {
	position: relative;
	padding: 490px 12px 100px 12px;
}

.tab {
	position: relative;
	width: 100%;
	padding: 0;
	margin-top: -89px;
	border-radius: 5px;
	margin-bottom: 21px;
}

.tab .tab-list {
	position: relative;
	width: 100%;
}

.tab .tab-listItem {
	position: relative;
	width: 134px;
	float: left;
}

.tab .tab-listItem .time-line {
	position: relative;
	text-align: center;
	font-weight: 400;
	font-variant: small-caps;
	margin-bottom: 8px;
	color: #9C9C9C;
}

.tab .tab-listItem .tab-name {
	position: relative;
	text-align: center;
	font-weight: 400;
	font-variant: small-caps;
	margin-bottom: 8px;
	color: #ccc;
}

.tab .tab-listItem .tab-icon {
	position: relative;
	width: 26px;
	height: 26px;
	margin: 8px auto 0 auto;
}

.tab .tab-icon.timeline-icon {
	background: url("../icons/timeline.png") center no-repeat;
	background-size: 70%;
}

.tab .tab-icon.about-icon {
	background: url("../icons/about.png") center no-repeat;
	background-size: 70%;
}

.tab .tab-icon.friends-icon {
	background: url("../icons/friends.png") center no-repeat;
	background-size: 70%;
}

.tab .tab-icon.photos-icon {
	background: url("../icons/photos.png") center no-repeat;
	background-size: 70%;
}

.tab .tab-listItem.active {
	border-bottom: 2px solid #2899F3;
	border-bottom-left-radius: 5px;
}

.tab .tab-listItem.active .tab-name {
	color: #2899F3;
}

.feeds {
	position: relative;
	width: 100%;
}

.feed {
	position: relative;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.feed .header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 10
}

.feed .user-image {
	position: relative;
	float: left;
	border: 1px solid white;
	margin-right: 13px;
	background: url("../img/dp1.jpg") center no-repeat;
	background-size: cover;
}

.avatar-small {
	position: relative;
	width: 38px;
	height: 38px;
	border-radius: 100%;
}

.feed .header .info {
	position: relative;
	float: left;
}

.feed .info .user-details {
	color: #636363;
	font-size: 12px;
}

.feed .info span {
	color: #2899F3;
}

.feed .info .post-time {
	color: #BABABA;
	font-size: 12px;
	font-weight: 400;
	margin-top: -4px;
}

.feed .feed-image {
	position: relative;
	height: 364px;
	background: url("../img/bg1.jpg") center no-repeat;
	background-size: cover;
}

.feed .actions {
	position: relative;
	/*outline: 1px solid blue;*/
	padding: 12px 12px;
	margin-top: 0;

}

.feed .actions .action {
	position: relative;
	float: left;
}

.feed .actions .like {
	margin-right: 24px;
}

.feed .actions .comment {
	position: absolute;
	right: 16px;
}

.like-icon, .share-icon, .comment-icon {
	position: relative;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.like-icon {
	background: url("../icons/like.png") center no-repeat;
	background-size: 99%;
}

.share-icon {
	background: url("../icons/send.png") center no-repeat;
	background-size: 99%;
}

.comment-icon {
	background: url("../icons/comment-box.png") center no-repeat;
	background-size: 99%;
}

.feed .comments {
	position: relative;
	width: 100%;
}

.feed .comments .comment {
	position: relative;
	width: 100%;
	padding: 12px 16px;
	background-color: #F4F4F4;
}

.feed .comments .user-image {
	position: relative;
	float: left;
	margin-right: 8px;
	background: url("../img/dp5.jpg") center no-repeat;
	background-size: cover;
}

.feed .comments .info {
	position: relative;
	float: left;
	width: 72%;
}

.feed .comments .info .username {
	position: relative;
	color: #319AEF;
	font-size: 14px;
	font-weight: 400;
}

.feed .comments .info .com-content {
	position: relative;
	font-size: 13px;
	font-weight: 400;
	color: #AFAFAF;
	margin-top: -3px;
	line-height: 16px;
}

.feed .comments .com-time {
	position: absolute;
	color: #929292;
	font-size: 12px;
	font-variant: small-caps;
	right: 16px;
	top: 12px;
	font-weight: 400;
}

.reply-box {
	position: relative;
	width: 100%;
	padding: 12px 16px;
}

.feed .reply-box .user-image {
	position: relative;
	float: left;
	margin-right: 12px;
	background: url("../img/dp1.jpg") center no-repeat;
	background-size: cover;
}

.feed .reply-box .text-field {
	position: relative;
	border-bottom: 1px solid #AFAFAF;
	font-family: "Verdana";
	width: 80%;
	height: 18px;
	float: left;
}

.def-fab {
	position: relative;
	outline: none;
	border: none;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	display: block;
	box-shadow: 1px 4px 24px rgba(0,0,0,.5);
}

.quick-actions {
	position: relative;
	width: 100%;
	padding-top: 190px;
}

.quick-actions .action {
	position: relative;
	margin-bottom: 21px;
}

.quick-actions .chat {
	background-color: #F50057;
}